APIFY_TOKEN=
ANTHROPIC_API_KEY=
RESEND_API_KEY=
FREELANCER_TOKEN=
JOB_EMAIL_FROM=vagas@seudominio.com
JOB_EMAIL_TO=seu-email@exemplo.com
FREELANCE_EMAIL_FROM=freelance@seudominio.com
FREELANCE_EMAIL_TO=seu-email@exemplo.com
